<div class="chat">
	<div class="room page" ng-show="{{isLogin}}">
		<div scroll-glue class="chatArea" style="height: {{chatAreaHeight}}px;">
			<ul class="messages">
				<message ng-repeat="message in messages"/>
			</ul>
		</div>
		<div class="inputArea">
			<input ng-model="newMessage" ng-keypress="keyMessage($event)" class="inputMessage" placeholder="I want to say ..." />
			<i class="fa fa-paperclip fa-lg" ng-click="selectFile()"></i>
			<button ng-click="sendMessage()">send</button>
		</div>
		<div class="fileArea">
			<ul class="folder" style="width: {{windowWidth - 500}}px; height: {{windowHeight - 50}}px">
				<file ng-repeat="file in files" />
			</ul>
		</div>
		<div class="progressArea"><div class="container">
			<progress ng-repeat="p in progresses" />
		</div></div>
	</div>
</div>